* {
    box-sizing: border-box;
}

:root {
    color: rgb(212, 164, 101);
    color: rgb(0, 0, 0);
}
.name {
    text-align: center;
    font-size: 50px;

}

 .nav-bar {
    background-color: rgb(78, 78, 255);
 }

html {
    scroll-behavior: smooth;
}

body {
    background-color: tan;
}
.hr {
    color: rgb(0, 0, 81);
}
.p-top {
    text-align: center;
    font-size: 35px;
}

.top-li {
    display: flex;
    flex-direction: column;
}

.about-me {
    font-size: 30px;
}
