/* * {
     box-sizing: border-box; 
} */

:root {
    color: rgb(212, 164, 101);
    color: rgb(0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color:  rgb(110, 84, 26);
    font-family: "Newsreader", "sans-serif";
    margin: 0;  
}

/* Css that goes with the header */
.header {
    display: flex;
    background-color: rgb(0, 0, 66);
    padding: 30px;
}

hr {
    margin: 0;
    height: 5px;
    background-color: aqua;
}

.header-content {
    position: relative;
    left: 482px
}

#top-pic {
    display: flex;
    max-width: 200px;
    position: relative;
    left: 125px;
    border: 11px solid aqua;
    border-radius: 85px;
}

.image-padding {
    padding: 11px;
    background-color: rgb(110, 84, 26);
}

h1 {
    margin: 2px;
    font-size: 70px;
    color: aqua;
}

.header-links {
    display: flex;
    list-style: none;
}

.p-head {
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    color: aqua;
}

/* Css that goes with the nav bar in the header */
.nav-bar {
    display: flex;
    position: relative;
    left: 420px;
    text-align: center;
}

.nav-btn{
    padding: 25px;
    color:  rgb(0, 0, 66);
    background-color: rgb(110, 84, 26);
    border-radius: 25px;
    font-size: 20px;
}

.nav-btn:hover {
    color: rgb(0, 0, 66);
    background-color: rgb(225, 255, 52);
}

/* Css that goes with the main section (About me, My projects, and Contact me) */
main {
    display: block;
    padding: 30px;
    background-color: rgb(110, 84, 26);
}

/* Css that goes with the about me section */
.about-me-container {
    display: flex;
    flex-wrap: wrap;
}

h2 {
    font-size: 74px;
    text-align: center;
    color: rgb(0,0, 66);
    width: 94%;
    border-style: solid;
    border-width: 15px; 
    background-color: rgba(211, 211, 211, 0.37); 
}

.about-me-p {
    position: relative;
    left: 35px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    margin: 30px 222px 280px;
}

.abt-me-border {
    border-style: solid;
    border-width: 5px; 
    background-color: rgba(211, 211, 211, 0.37);
    border-color: rgb(0,0,66);
}

/* Css that goes with the Projects section */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#my-projects {
    position: relative;
    bottom: 170px;
}

.top-project{
    position: relative;
    left: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btm-project{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-image {
    display: block;
    max-width: 85%;
    border-style: solid;
    border-width: 30px; 
    border-color: rgb(0,0, 66);
}

.small-image {
    display: block;
    margin: 20px;
    max-width: 84%;
    border-style: solid;
    border-width: 30px; 
    border-color: rgb(0,0, 66);     
}

.tp-container {
    display: flex;
    position: relative;
    width: 75%;
    align-items: center;
}

.bp-container {
    position: relative;
    /* left: 55px; */
    width: 90%;
    align-items: center;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 85%;
    opacity: 0;
    transition: 1s ease;
    background-color: rgb(0,0,66);
  }

  .overlay2 {
    position: absolute;
    top: 25px;
    left: 49px;
    width: 100%;
    height: 84%;
    opacity: 0;
    transition: 1s ease;
    background-color: rgb(0,0,66);
  }
  
  .tp-container:hover .overlay {
    opacity: .85;
    width: 85%;
  }

  .bp-container:hover .overlay2 {
    opacity: .85;
    width: 85%;
  }
  
.text-h3 {
    color: white;
    font-size: 56px;
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.text {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btm-h3 {
    color: white;
    font-size: 53px;
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.btm-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 69%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bottom {
    display: flex;
    position: relative;
    top: 36px;
}

/* Css that goes with contact me */
.contact-me-container {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 69px;
    align-items: center;
}
.gmail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
}

.github {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
}

.gmail-h3 {
    font-size: 40px;
    color: rgb(0, 0, 66);
}

.github-h3 {
    font-size: 40px;
    color: rgb(0, 0, 66);
}

.gmail-text {
    font-size: 25px;
}

.my-github {
    font-size: 25px;
}





/* Css that goes with the footer */
.footer {
    font-size: 20px;
    background-color: rgb(0, 0, 66);
    color: aqua;
    text-align: center;
    padding: 60px;
}

.back-to-top {
    padding: 15px;
    color:  rgb(0, 0, 66);
    background-color: rgb(110, 84, 26);
    font-size: 15px;
}

.back-to-top:hover {
    color: rgb(0, 0, 66);
    background-color: rgb(225, 255, 52);
}

/* Media Queries for more responsive page */
@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  
  
  @media screen and (max-width: 992px) {
      .card {
        width: 100%;
      }
  }




