* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color:  rgb(110, 84, 26);
    font-family: "Newsreader", "sans-serif";
    margin: 0;  
}

:root {
    color: rgb(212, 164, 101);
    color: rgb(0, 0, 0);
}

h1 {
    margin: 2px;
    font-size: 70px;
    text-align: center;
}
.header {
    background-color: rgb(0, 0, 66);
    padding: 30px;
    color: aqua;
}

.header-links {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.p-head {
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
}

.nav-bar {
    display: flex;
    position: relative;
    left: 500px;
    text-align: center;
}
.nav-btn{
    padding: 25px;
    color: aqua;
    background-color: rgb(110, 84, 26);
    border-radius: 25px;
}
.nav-btn:hover {
    color: aqua;
    background-color: rgb(6, 51, 1);
}

#top-pic {
    display: flex;
    max-width: 200px;
    position: absolute;
    left: 260px;
}

.image-padding {
    /* Sets padding on all sides to 20px */
    padding: 20px;
    background-color: rgb(110, 84, 26);
}
  
  .image-border {
    /* Sets border on all sides */
    border: 10px solid aqua;
}

  main {
    display: block;
    padding: 150px;
    background-color: rgb(110, 84, 26);
}

.project-picture {
    max-width: 400px;
    position: relative;
}

.footer {
    background-color: rgb(0, 0, 66);
    color: aqua;
    text-align: center;
    padding: 60px;
}




